<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCComm.Properties.Alarms" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PCComm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCComm.Properties.Alarms" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PCComm.Properties.Commands" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PCComm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCComm.Properties.Alarms>
            <setting name="SysVoltLo_Limit" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SysVoltVeryLo_Limit" serializeAs="String">
                <value>11.5</value>
            </setting>
            <setting name="SysIntTempHi_Limit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SysIntTempVeryHi_Limit" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="Tamper_Limit" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Fire_Limit" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SysExtTempHi_Limit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ExtTempLo_Limit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BatteryLo_Limit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="BatteryVeryLo_Limit" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SysVoltLo_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysVoltVeryLo_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysTempHi_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysTempVeryHi_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tamper_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Timeout_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fire_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysExtTempHi_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtTempLo_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryLo_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatteryVeryLo_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PowerOffline_Image" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysExtTempVeryHi_Limit" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="SysExtTempVeryHi_Image" serializeAs="String">
                <value>False</value>
            </setting>
        </PCComm.Properties.Alarms>
        <PCComm.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM?</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>Unit #1</value>
            </setting>
            <setting name="AlarmDelayIn" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AlarmSimulate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MailTO" serializeAs="String">
                <value>recipient1@example.com</value>
            </setting>
            <setting name="MailCC" serializeAs="String">
                <value>recipient2@example.com</value>
            </setting>
            <setting name="MailBlockTimer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AlarmResetTimer" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ErrorHysCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ErrorHysTimer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ErrorHysTimer2" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="TimeoutTimer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ErrorLED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Image_Dir" serializeAs="String">
                <value>D:\\WebCam</value>
            </setting>
            <setting name="MailIgnoreCC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestMailImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Image_File" serializeAs="String">
                <value>TinCam</value>
            </setting>
            <setting name="Image_Nr" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AlarmDelayOut" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="StartExtApps" serializeAs="String">
                <value>False</value>
            </setting>
        </PCComm.Properties.Settings>
    </userSettings>
  <system.net>
    <mailSettings>
      <smtp from="alarm@example.com">
        <network host="localhost" port="25" userName="user" password="secret" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <applicationSettings>
    <PCComm.Properties.Alarms>
      <setting name="Online_Text" serializeAs="String">
        <value>System Online</value>
      </setting>
      <setting name="Online_Color" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="OK_Text" serializeAs="String">
        <value>System OK</value>
      </setting>
      <setting name="OK_Color" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="SysVoltLo_Text" serializeAs="String">
        <value>System Voltage: Low</value>
      </setting>
      <setting name="SysVoltLo_Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="SysVoltLo_Value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SysVoltLo_Denom" serializeAs="String">
        <value> V</value>
      </setting>
      <setting name="SysVoltVeryLo_Text" serializeAs="String">
        <value>System Voltage: Very Low</value>
      </setting>
      <setting name="SysVoltVeryLo_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SysVoltVeryLo_Value" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SysVoltVeryLo_Denom" serializeAs="String">
        <value> V</value>
      </setting>
      <setting name="SysIntTempHi_Text" serializeAs="String">
        <value>System Int. Temperature: High</value>
      </setting>
      <setting name="SysIntTempHi_Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="SysIntTempHi_Value" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SysIntTempHi_Denom" serializeAs="String">
        <value>° C</value>
      </setting>
      <setting name="SysIntTempVeryHi_Text" serializeAs="String">
        <value>System Int. Temperature: Very High</value>
      </setting>
      <setting name="SysIntTempVeryHi_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SysIntTempVeryHi_Value" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SysIntTempVeryHi_Denom" serializeAs="String">
        <value>° C</value>
      </setting>
      <setting name="Tamper_Text" serializeAs="String">
        <value>Tamper: Loop Open!</value>
      </setting>
      <setting name="Tamper_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Tamper_Value" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Tamper_Denom" serializeAs="String">
        <value> V</value>
      </setting>
      <setting name="Timeout_Text" serializeAs="String">
        <value>Module: Unit Timeout!</value>
      </setting>
      <setting name="Timeout_Color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Fire_Text" serializeAs="String">
        <value>Fire: Smoke Detected!</value>
      </setting>
      <setting name="Fire_Color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Fire_Value" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Fire_Denom" serializeAs="String">
        <value> V</value>
      </setting>
      <setting name="Alarm_Text" serializeAs="String">
        <value>Alarm System: Triggered!</value>
      </setting>
      <setting name="Alarm_Color" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="SysExtTempHi_Text" serializeAs="String">
        <value>System Ext. Temperature: High</value>
      </setting>
      <setting name="SysExtTempHi_Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="SysExtTempHi_Value" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SysExtTempHi_Denom" serializeAs="String">
        <value>° C</value>
      </setting>
      <setting name="ExtTempLo_Text" serializeAs="String">
        <value>Ext. Temperature Low</value>
      </setting>
      <setting name="ExtTempLo_Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="ExtTempLo_Value" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ExtTempLo_Denom" serializeAs="String">
        <value>° C</value>
      </setting>
      <setting name="BatteryLo_Text" serializeAs="String">
        <value>PC Battery: Low</value>
      </setting>
      <setting name="BatteryLo_Color" serializeAs="String">
        <value>Orange</value>
      </setting>
      <setting name="BatteryLo_Value" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BatteryLo_Denom" serializeAs="String">
        <value> %</value>
      </setting>
      <setting name="BatteryVeryLo_Text" serializeAs="String">
        <value>PC Battery: Very Low</value>
      </setting>
      <setting name="BatteryVeryLo_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BatteryVeryLo_Value" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BatteryVeryLo_Denom" serializeAs="String">
        <value> %</value>
      </setting>
      <setting name="PowerOffline_Text" serializeAs="String">
        <value>PC Power: Offline</value>
      </setting>
      <setting name="PowerOffline_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Online_Image" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OK_Image" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Alarm_Value" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="PowerOffline_Value" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Timeout_Value" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="SysExtTempVeryHi_Color" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SysExtTempVeryHi_Denom" serializeAs="String">
        <value>° C</value>
      </setting>
      <setting name="SysExtTempVeryHi_Text" serializeAs="String">
        <value>System Ext. Temperature: Very High</value>
      </setting>
      <setting name="SysExtTempVeryHi_Value" serializeAs="String">
        <value>4</value>
      </setting>
    </PCComm.Properties.Alarms>
    <PCComm.Properties.Commands>
      <setting name="iFire" serializeAs="String">
        <value>005:i:01</value>
      </setting>
      <setting name="iSysVolt" serializeAs="String">
        <value>005:i:02</value>
      </setting>
      <setting name="iTamper" serializeAs="String">
        <value>005:i:03</value>
      </setting>
      <setting name="iSysTemp" serializeAs="String">
        <value>005:i:04</value>
      </setting>
      <setting name="iTemp1" serializeAs="String">
        <value>005:i:05</value>
      </setting>
      <setting name="iTemp2" serializeAs="String">
        <value>005:i:06</value>
      </setting>
      <setting name="oBuzzerOff" serializeAs="String">
        <value>005:o:01:0</value>
      </setting>
      <setting name="oRedLEDOff" serializeAs="String">
        <value>005:o:02:0</value>
      </setting>
      <setting name="oStrobeOff" serializeAs="String">
        <value>005:o:03:0</value>
      </setting>
      <setting name="oKeyLEDOff" serializeAs="String">
        <value>005:o:04:0</value>
      </setting>
      <setting name="oErrLEDOff" serializeAs="String">
        <value>005:o:05:0</value>
      </setting>
      <setting name="oOutletOff" serializeAs="String">
        <value>005:o:06:0</value>
      </setting>
      <setting name="oBuzzerOn" serializeAs="String">
        <value>005:o:01:1</value>
      </setting>
      <setting name="oRedLEDOn" serializeAs="String">
        <value>005:o:02:1</value>
      </setting>
      <setting name="oStrobeOn" serializeAs="String">
        <value>005:o:03:1</value>
      </setting>
      <setting name="oKeyLEDOn" serializeAs="String">
        <value>005:o:04:1</value>
      </setting>
      <setting name="oErrLEDOn" serializeAs="String">
        <value>005:o:05:1</value>
      </setting>
      <setting name="oOutletOn" serializeAs="String">
        <value>005:o:06:1</value>
      </setting>
      <setting name="iFire_Name" serializeAs="String">
        <value>Fire</value>
      </setting>
      <setting name="iSysTemp_Name" serializeAs="String">
        <value>Temp Int.</value>
      </setting>
      <setting name="iSysVolt_Name" serializeAs="String">
        <value>Supply</value>
      </setting>
      <setting name="iTamper_Name" serializeAs="String">
        <value>Tamper</value>
      </setting>
      <setting name="iTemp1_Name" serializeAs="String">
        <value>Temp Ext.</value>
      </setting>
      <setting name="iTemp2_Name" serializeAs="String">
        <value>Temp</value>
      </setting>
      <setting name="oBuzzer_Name" serializeAs="String">
        <value>Buzzer</value>
      </setting>
      <setting name="oRedLED_Name" serializeAs="String">
        <value>Alarm LED</value>
      </setting>
      <setting name="oStrobe_Name" serializeAs="String">
        <value>Strobe</value>
      </setting>
      <setting name="oKeyLED_Name" serializeAs="String">
        <value>Keypad LED</value>
      </setting>
      <setting name="oErrLED_Name" serializeAs="String">
        <value>Error LED</value>
      </setting>
      <setting name="oOutlet_Name" serializeAs="String">
        <value>Power Outlet</value>
      </setting>
      <setting name="Battery_Name" serializeAs="String">
        <value>Battery</value>
      </setting>
    </PCComm.Properties.Commands>
    <PCComm.Properties.Settings>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="DataBits" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Parity" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="StopBits" serializeAs="String">
        <value>One</value>
      </setting>
      <setting name="ModuleID" serializeAs="String">
        <value>005</value>
      </setting>
      <setting name="FileNameLog" serializeAs="String">
        <value>LogAll.txt</value>
      </setting>
      <setting name="FileNameAlarm" serializeAs="String">
        <value>LogAlarms.txt</value>
      </setting>
      <setting name="ProgramVer" serializeAs="String">
        <value>1.0.0</value>
      </setting>
      <setting name="ProgramName" serializeAs="String">
        <value>Serial I/O System</value>
      </setting>
      <setting name="App1" serializeAs="String">
        <value>C:\\Program Files (x86)\\USb Missile Launcher\\MissileLauncher.exe</value>
      </setting>
      <setting name="App2" serializeAs="String">
        <value>C:\\Program Files (x86)\\TinCam\\TinCam.exe</value>
      </setting>
    </PCComm.Properties.Settings>
  </applicationSettings>
</configuration>
